# Имя кастомного образа (если собираешь свой через Dockerfile)
AIRFLOW_IMAGE_NAME=airflow-with-java

# UID пользователя (узнать в Linux можно командой: id -u)
AIRFLOW_UID=50000

# Директория проекта
AIRFLOW_PROJ_DIR=.

# Данные для входа в Airflow Web UI
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Настройки целевой БД (pg_extra)
EXTRA_DB_USER=extradb_user
EXTRA_DB_PASSWORD=extradb_password
EXTRA_DB_NAME=extradb
