# ==========================================
# Безопасность
# ==========================================
.env
.env.production
*.key
secrets/

# ==========================================
# Python и Виртуальные окружения
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# ==========================================
# Apache Airflow и Логи проекта
# ==========================================
# Мы не пушим логи, так как они могут весить гигабайты
airflow/logs/
*.log
generation.log

# Если нужно пушить готовые DAGи в репозиторий, то удаляем строчку ниже:
airflow/dags/gen_*.py

# ==========================================
# Тестирование (Pytest)
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# IDE (PyCharm, VSCode)
# ==========================================
.idea/
.vscode/

# ==========================================
# macOS (Системный мусор)
# ==========================================
.DS_Store
